body {
  background: #eee;
  margin: auto;
}
.writing {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

    width:80%;
    height:80%;
    margin:auto;
    margin-top: 5%;
}
.clickable {
    border: 0px;
    color: #999;
    border-bottom: 1px dotted #000;
}

input {
    background-color: inherit;
}

li {
    list-style-type: none;
    margin: 1%;
    background-color: #ddd;
}

.break {
    margin: 5%;
    border-bottom: 1px dotted #222;
}
